/* base color palette used

CSS HEX
--outer-space-crayola: #303633ff;
--magic-mint: #8be8cbff;
--pewter-blue: #7ea2aaff;
--cool-grey: #888da7ff;
--mountbatten-pink: #9c7a97ff;

CSS HSL
--outer-space-crayola: hsla(150, 6%, 20%, 1);
--magic-mint: hsla(161, 67%, 73%, 1);
--pewter-blue: hsla(191, 21%, 58%, 1);
--cool-grey: hsla(230, 15%, 59%, 1);
--mountbatten-pink: hsla(309, 15%, 55%, 1);

SCSS HEX
$outer-space-crayola: #303633ff;
$magic-mint: #8be8cbff;
$pewter-blue: #7ea2aaff;
$cool-grey: #888da7ff;
$mountbatten-pink: #9c7a97ff;

SCSS HSL
$outer-space-crayola: hsla(150, 6%, 20%, 1);
$magic-mint: hsla(161, 67%, 73%, 1);
$pewter-blue: hsla(191, 21%, 58%, 1);
$cool-grey: hsla(230, 15%, 59%, 1);
$mountbatten-pink: hsla(309, 15%, 55%, 1);

SCSS RGB
$outer-space-crayola: rgba(48, 54, 51, 1);
$magic-mint: rgba(139, 232, 203, 1);
$pewter-blue: rgba(126, 162, 170, 1);
$cool-grey: rgba(136, 141, 167, 1);
$mountbatten-pink: rgba(156, 122, 151, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-right: linear-gradient(90deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-bottom: linear-gradient(180deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-left: linear-gradient(270deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-top-right: linear-gradient(45deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-bottom-right: linear-gradient(135deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-top-left: linear-gradient(225deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-bottom-left: linear-gradient(315deg, #303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);
$gradient-radial: radial-gradient(#303633ff, #8be8cbff, #7ea2aaff, #888da7ff, #9c7a97ff);

*/

body {
    background-color: #303633ff;
    font-family: Raleway;
}

#formbox {
    font-size: 20px;
    margin: auto;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-color: #7ea2aaff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15%;
    line-height: 1.8;
    background-color: #8be8cbff;

}
#uname {
    font-size: 20px;
}

#pword {
    font-size: 20px;
}

input[type=text],  input[type=password]{
    height: 30%;
}

button {
    font-size: 25px;
    font-family: Raleway; 
    width: 60%;
    padding: 10px;
    border-color: #7ea2aaff;
    border-radius: 20px;
}
marquee {
    color: #8be8cbff;
    font-size: 20px;
    text-shadow: 2px 2px 5px #7ea2aaff;
}